@import "./variables.scss";

#settingsContent {
    width: 100vw;
    transform: scale(0);
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    height: 0;
    opacity: 0;
    transition: transform ease-in-out 0.2s, opacity ease-in-out 0.2s, height ease-in-out 0.2s;

    .category {
        width: 100%;
        height: auto;
        text-align: left;
        border-left: 1px solid transparent;
        padding: 15px;

        .desc {
            font-size: 14px;
            width: 100%;
            text-align: left;
            display: inline-block;
            color: $color-text-dark;
        }

        &#input {
            border-color: rgba(100, 100, 100, 0.8);
        }

        &#output1 {
            border-color: rgba(80, 80, 80, 0.8);
        }

        &#output2 {
            border-color: rgba(60, 60, 60, 0.8);
        }

        .explanation {
            font-size: 15px;
            color: $color-text-darker;
        }

        label {
            width: 20px;
            height: 20px;
            outline: none;
            background-color: $color-background;
            border-radius: 3px;
            cursor: pointer;
            display: inline-block;
            line-height: 18px;
            vertical-align: middle;
            margin-left: 3px;
            text-align: center;
            font-size: 0;
            border: 1px solid $color-background-dark;
        }

        input[type="checkbox"]:checked + label {
            font-size: 14px;
        }

        input[type="checkbox"]:hover + label {
            background-color: $color-background-light;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="range"] {
            appearance: none;
            outline: none;
            background-color: $color-background;
            border-radius: 20px;
            height: 5px;
            cursor: pointer;
        }
        
        select {
            appearance: none;
            outline: none;
            padding: 5px;
            background-color: $color-background;
            border-radius: 3px;
            border: none;
            color: $color-text-darker;
            cursor: pointer;
            transition: color ease-in-out 0.03s;
            border: 2px solid $color-background-dark;

            &:hover {
                color: $color-text-dark;
            }
        }

        ::-webkit-slider-thumb {
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 20px;
            background-color: $color-text-darker;
            cursor: pointer;

            &:hover {
                background-color: $color-text-dark;
            }
        }
    }

    #credits {
        color: $color-text-darker;
        height: 25px;
        width: 100%;
        line-height: 27px;

        .link {
            cursor: pointer;
            border-bottom: 1px solid transparent;
            
            &:hover {
                border-image: $color-link-border;
                border-image-slice: 1;
            }
        }
    }

    &.active {
        opacity: 1;
        height: 510px;
        transform: scale(1);
        padding-top: 15px;
    }

    h1 {
        font-size: 22px;
    }    
}