.tabList {
  width: 100vw;
  min-height: 100%;
}

.tab {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  -webkit-transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab#settings {
  border: none;
}

.tab.removed {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.tab .shortcut {
  float: right;
  color: #b4b4b4;
}

.tab .shortcut:hover {
  color: white;
}

.tab .title {
  float: left;
  outline: none;
  border: none;
  pointer-events: none;
}

.tab .timer {
  position: absolute;
  left: 0;
  right: 0;
  color: #787878;
  pointer-events: none;
}

.tab .progress {
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff27db), to(#9911e7));
  background-image: linear-gradient(to right, #ff27db, #9911e7);
  display: none;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.tab.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab.active .progress {
  display: block;
}

.tab#newTab {
  border: none;
  font-size: 20px;
  color: #b4b4b4;
  font-family: 'Quicksand';
}
