@import "./variables.scss";

#tabList {
    width: 100vw;

    &.windows {
        margin-top: 22px;
    }
}

.tab {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.3);
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    animation: fadeIn 0.4s;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s;

    &:hover {
        background-color: $color-background-dark;
    }

    &#settings {
        border: none;
    }

    .windows {
        border-bottom: 1px solid rgba(10, 10, 10, 0.6);
    }

    &.removed {
        transform: scale(0);
        opacity: 0;
    }

    .shortcut {
        float: right;
        color: $color-text-dark;

        &:hover {
            color: $color-text;
        }
    }

    .title {
        float: left;
        outline: none;
        border: none;
        pointer-events: none;
    }

    .timer {
        position: absolute;
        left: 0;
        right: 0;
        color: $color-text-darker;
        pointer-events: none;
    }

    .progress {
        width: 0;
        height: 2px;
        border-radius: 1px;
        background-image: $color-link-border;
        display: none;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    &.active {
        .progress {
            display: block;
        }
        background-color: $color-background-dark;
    }

    &#newTab {
        border: none;
        font-size: 20px;
        color: $color-text-dark;
        font-family: 'Quicksand';
    }
}