@import "./variables.scss";

#topbar {
    display: none;
    width: 100vw;
    height: 22px;
    background-color: rgb(23, 23, 23);
    -webkit-app-region: drag;
    user-select: none;
    border-bottom: 1px solid $color-background;
    font-family: 'Segoe MDL2 Assets';
    text-align: right;
    position: fixed;
    line-height: 22px;
    color: $color-text-darker;
    font-size: 0;
    z-index: 1000000;
    top: 0;
    left: 0;

    &.active {
        display: block;
    }

    .top-icon {
        height: 100%;
        width: 25px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        font-size: 9px;
        -webkit-app-region: no-drag;

        &:hover {
            color: $color-text-dark;
            background-color: $color-background-light;
        }
    }
}