$color-background-light: rgba(60, 60, 60, 0.8);
$color-background: rgba(40, 40, 40, 0.8);
$color-background-dark: rgba(0, 0, 0, 0.1);
$color-text: white;
$color-text-dark: rgb(180, 180, 180);
$color-text-darker: rgb(120, 120, 120);
$color-link-border: linear-gradient(to right, rgb(255, 39, 219) , rgb(153, 17, 231));